@font-face {
	font-family: "Olietta script Lyrica BoldItalic"; 
	src: url("../fonts/ofont.ru_Olietta script Lyrica.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'Magnolia Script';
	src: url('../fonts/Magnoliascript.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Miama Nueva';
	src: url('../fonts/miama.otf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

html,body{
    background-color:#97A38F; 
    margin:0; 
    padding:0;
} 

#container{ 
    background-color:#fff; 
    width:800px; 
    margin:0 auto; 
    padding:0;
    display:flex;
    flex-direction:column;
}

#footer {
    border-top : 4px solid #97A38F; 
    width:100%; 
    height: 38px;
    background-color:#6F7C65; 
    clear:both;
    margin:0;
    border-bottom: 4px solid #97A38F;
    display: flex;
    justify-content: space-between;
    font: normal 18px/20px 'Olietta script Lyrica BoldItalic';
}

#footer a{
    color : white;
}

#footer a:hover{
    color : black;
}

.nav{
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 8px;
}

#content{
    display:flex;
}

#left{
    width: 93px;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    font: normal 12px/18px 'Magnolia Script';
}

#left input[type="button"]{
    font: normal 12px/18px 'Magnolia Script';
}

#left h1{
    writing-mode: vertical-rl;
    width: 0;
    transform: rotate(180deg);
    padding-top: 30px;
    font: normal 56px/13px 'Olietta script Lyrica BoldItalic';
}

#left a{
    color:#41483C;
    text-decoration: none;
}

#left a:hover{
    color: black;
}

#right{
    background:url('/images/notepad.png') repeat-y;
    width: 707px;
    display:flex;
    flex-direction:column;
    align-items: flex-end;
}

#right_content{
   width: 680px;
   font: normal 18px/20px 'Magnolia Script';
}

#right_content h2,a{
    color:#41483C;
    text-decoration: none;
}

#right_content a,input,textarea,button,input[type="file"],select{
    font: normal 18px/20px 'Magnolia Script';
}

#right_content h2{
    font: normal 36px 'Olietta script Lyrica BoldItalic';
}

#right_content a:hover{
    color:black;
}

.hr {
    border-top: 4px dashed #6F7C65;
}

input,textarea,select{
    width: 330px;
}

textarea{
    height: 150px;
}